body {
	font-family: 'Nunito', sans-serif;
	position: relative;
	background: white;
	font-size: 16px;
}
/* Nav */
dl {
	background: rgb(30, 30, 30);
}
.navigationlist {
	text-align: center;
}
dl .nav_item {
	display: inline-block;
	margin: 1em;
	padding: 10px;
}
.nav_item a{
	color: white;
}
.nav_item a:hover {
	color: blue;
	font-weight: bold;
}
.header {
	text-align: center;
	margin: 0 auto;
}
.sectionheader {
	font-size: 1.25em;
}
.sectionheader ~ * {
	width: 49%;
    display: inline-block;
}
.text {
	float: right;
    margin: 0 15% 0 3%;
}
#bottomalign {
	bottom:0;
	position: absolute;
	margin-bottom: 10px;
	text-align: center;
}
div > .image {
	margin: 0 0 0 calc(50% - 200px);
}
.image:nth-child(1){
	border-radius: 1000px;
}
.image:nth-child(2){
	vertical-align: top;
}
/* Footer */
#footer {
	background: rgba(0,0,0,0.5); 
	padding: 20px; 
	width: 100vw; 
	display: block; 
	color: #fff;
}
#footer span{
	margin-bottom:10px;	
}
/* C3 */
.chart-title{
	font-size: 1.5em;
	font-weight: 800;
}